@model WebSiteBanSach.Models.DonHang

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>ChinhSua</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <strong class="card-title" style="margin-left:20px; font-size:30px; color:aqua;">CHỈNH SỬA THÔNG TIN ĐƠN HÀNG</strong>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.MaDonHang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span style="font-size:15pt;margin-left:5px;color:blue">@Model.MaDonHang</span>
                @Html.Hidden("MaNXB", Model.MaDonHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayGiao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayGiao)
                @Html.ValidationMessageFor(model => model.NgayGiao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDat)
                @Html.ValidationMessageFor(model => model.NgayDat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DaThanhToan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DaThanhToan)
                @Html.ValidationMessageFor(model => model.DaThanhToan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TinhTrangGiaoHang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TinhTrangGiaoHang)
                @Html.ValidationMessageFor(model => model.TinhTrangGiaoHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaKH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span style="font-size:15pt;margin-left:5px;color:blue">@Model.MaKH</span>
            </div>
        </div>

        <br />

        <div class="form-actions no-color">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" style="background-color:greenyellow" /> |


                <a href="@Url.Action("HienThi", "QuanLyDonHang", new { @MaDonHang = Model.MaDonHang })" class="btn btn-default" style="background-color:forestgreen; width:64px">  Chi Tiết  </a> |

                <a href="@Url.Action("Index","QuanLyDonHang")" class="btn btn-default" style="background-color:plum ">Quay Lại</a>

            </div>
        </div>
    </div>
}


