@model WebSiteBanSach.Models.TacGia

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <strong class="card-title" style="margin-left:20px; font-size:30px; color:aqua;">CHỈNH SỬA SÁCH</strong>
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.MaTacGia, new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            <span style="font-size:15pt;margin-left:5px;color:blue">@Model.MaTacGia</span>
            @Html.Hidden("MaTacGia", Model.MaTacGia)
        </div>
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.TenTacGia, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenTacGia)
            @Html.ValidationMessageFor(model => model.TenTacGia)
        </div>
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiaChi)
            @Html.ValidationMessageFor(model => model.DiaChi)
        </div>
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.TieuSu, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TieuSu)
            @Html.ValidationMessageFor(model => model.TieuSu)
        </div>
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.DienThoai, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DienThoai)
            @Html.ValidationMessageFor(model => model.DienThoai)
        </div>
    </div>
    <br />

    <div class="form-actions no-color">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" style="background-color:greenyellow" /> |


            <a href="@Url.Action("HienThi", "TacGia", new { @MaSach = Model.MaTacGia })" class="btn btn-default" style="background-color:forestgreen; width:64px">  Chi Tiết  </a> |

            <a href="@Url.Action("Index","TacGia")" class="btn btn-default" style="background-color:plum ">Quay Lại</a>

        </div>
    </div>
</div>
}


