@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<WebSiteBanSach.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Thêm mới sách", "ThemMoi")
    </p>*@

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title" style="margin-left:20px; font-size:30px; color:aqua;">DANH MỤC SẢN PHẨM</strong>
                    <div class="search-bar" style="float:right">
                        @using (Html.BeginForm("Index", "QuanLySanPham", FormMethod.Get))
                        {
                            @Html.TextBox("SearchText", null, new { @placeholder = "Nhập Mã Sách hoặc Tên Sách nhé :3 !!!" })
                            <input type="submit" value="Tìm Kiếm" class="search-button" style=" border-color:red; background-color:yellow ; margin-right:100px " />
                            <a href="@Url.Action("ThemMoi","QuanLySanPham")" class="btn btn-default" style="float:right; border-color:red; background-color:cyan"> <i class="fa fa-dot-circle-o">Thêm Mới </i></a>
                        }
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().MaSach)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().TenSach)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().GiaBan)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().MoTa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().NgayCapNhat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().AnhBia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().SoLuongTon)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().MaChuDe)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().MaNXB)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Moi)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaSach)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenSach)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GiaBan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MoTa)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgayCapNhat)
                                </td>
                                <td>
                                    <div id="AnhBia" style="width:100px"><img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" /></div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoLuongTon)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChuDe.TenChuDe)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NhaXuatBan.TenNXB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Moi)
                                </td>
                                <td>
                                    <a href=" @Url.Action("ChinhSua", "QuanLySanPham", new { @MaSach = item.MaSach })" name='test' class="btn btn-primary btn-sm" style="float:right; background-color:red; width:44px">  Sửa </a>
                                    <a href="@Url.Action("HienThi", "QuanLySanPham", new { @MaSach = item.MaSach })" name='test' class="btn btn-primary btn-sm" style="float:right ; background-color:forestgreen; width:44px">  Chi Tiết </a>
                                    <a href=" @Url.Action("Xoa", "QuanLySanPham", new { @MaSach = item.MaSach })" name='test' class="btn btn-primary btn-sm" value='Xoa' style="float:right; background-color:rebeccapurple; width:44px">  Xóa  </a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Tạo link liên kết các trang*@
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
                    <div class="MenuTrang">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                    </div>
                    <style>

                        .MenuTrang ul {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;
                            overflow: hidden; /*background-color: #333;*/
                        }

                        .MenuTrang li {
                            display: inline;
                            float: left;
                            border-right: 1px solid #bbb;
                        }

                            .MenuTrang li:last-child {
                                border-right: none;
                            }

                            .MenuTrang li a {
                                display: block;
                                color: Black;
                                text-align: center;
                                padding: 14px 16px;
                                text-decoration: none;
                            }

                                .MenuTrang li a:hover:not(.MenuTrang) {
                                    background-color: #4CAF50;
                                }

                        .MenuTrang {
                            background-color: cornflowerblue;
                        }
                    </style>
