@model WebSiteBanSach.Models.Sach

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}


@*Thêm thuộc tính cho form để upload ảnh*@
@using (Html.BeginForm("ThemMoi", "QuanLySanPham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <strong class="card-title" style="margin-left:20px; font-size:30px; color:aqua;">THÊM MỚI SÁCH</strong>

    <hr />
    @Html.ValidationSummary(true)



    <div class="form-group">
        @Html.LabelFor(model => model.TenSach, new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenSach)
            @Html.ValidationMessageFor(model => model.TenSach)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiaBan, new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaBan)
            @Html.ValidationMessageFor(model => model.GiaBan)
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.NgayCapNhat, new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayCapNhat)
            @Html.ValidationMessageFor(model => model.NgayCapNhat)
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.SoLuongTon, new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoLuongTon)
            @Html.ValidationMessageFor(model => model.SoLuongTon)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaChuDe, new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            @Html.DropDownList("MaChuDe")

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaNXB, new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            @Html.DropDownList("MaNXB")

        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Moi, new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Moi)
            @Html.ValidationMessageFor(model => model.Moi)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AnhBia, new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            @*Name của thẻ input file phải trùng tên với tham số bên controller*@
            <input type="file" name="fileUpload">
            @*Thông báo trùng*@
            @ViewBag.ThongBao
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.MoTa, new { @class = "control-label col-md-2", @style = "font-weight:bold; margin-right: 20px" })
        <div class="col-md-10">
            <textarea name="MoTa">Mô Tả Sách!</textarea>
        </div>
    </div>
    @*<div class="form-group">*@
    <div class="form-actions no-color" style="margin-top:2px">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm mới" class="btn btn-default" style="background-color:cyan" /> |


            <a href="@Url.Action("Index","QuanLySanPham")" class="btn btn-default" style="background-color:plum ">Quay Lại</a>

        </div>
    </div>

</div>
}

