<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*Chèn link css của free template download *@
    <link href="~/Content/NguoiDungCssLayout/fonts.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/screen.css" rel="stylesheet" />
    @*Chèn css thiết kế *@
    <link href="~/Content/NguoiDungCssLayout/NguoiDungCssLayout.css" rel="stylesheet" />
    @*Chèn css font ký tự *@
    <link href="~/Content/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/NewUserCss.css" rel="stylesheet" />
    @*Chèn link nivo slider*@
    <link href="~/NivoSlider/nivo-slider.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.pack.js"></script>

</head>

<body>
    <style>
        #divHinhAnhTimKiem button:hover {
            background-color: rgba(0,0,0,.5);
        }
    </style>
    <div id="ToanTrang">
        <section class="blank">
            <div class="headerBar">
                @*<div class="icDienThoai">
                        <i class="fa fa-phone"></i>
                        (04) 987 654 321
                    </div>*@

                @*<div class="DangKyDangNhap">
                        @Html.Action("GioHangPartial","GioHang")
                        <i class="fa fa-sign-in"></i>
                        @Html.ActionLink("Đăng ký", "DangKy","NguoiDung", null, htmlAttributes: new { @class = "DangKy" })
                        <i class="fa fa-unlock"></i>
                        @Html.ActionLink("Đăng nhập", "DangNhap","NguoiDung", null, htmlAttributes: new { @class = "DangNhap" })

                    </div>*@
                <div id="Logo">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/HinhAnh/hic.png" />
                    </a>
                </div>

                <div id="DangNhap_DangKi" style="font-size:12px;font-weight:lighter">
                    <div>
                        @if (Session["Username"] != null)
                        {

                            <text> <strong>Xin Chào @Session["UserName"]</strong> </text>
                            @*@:[ @Html.ActionLink("Đăng Xuất",null, htmlAttributes: new { @class = "DangXuat"  }) ]*@

                        }
                        else
                        {
                            @:[ @Html.ActionLink("Đăng ký", "DangKy", "NguoiDung", null, htmlAttributes: new { @class = "DangKy" }) ]
                            @:[  @Html.ActionLink("Đăng nhập", "DangNhap", "NguoiDung", null, htmlAttributes: new { @class = "DangNhap" })]
                        }
                        <br />
                    </div>
                    <div style="border-top:.1px solid gray;margin-top:10px;padding-top:5px">
                        <p>Miễn phí vận chuyển đơn hàng <span style="color:red">TRÊN 300k-HÀ NỘI</span></p>
                    </div>
                </div>
                <div id="GioHang">
                    @Html.Action("GioHangPartial", "GioHang")
                </div>



            </div>


            @*Xây dựng div menu header*@

            <div style="background-color: #24444b" class="flash success" id="divDanhMuc">
                @*Hộp thoại tìm kiếm bên phải*@
                <div id="txtTimKiem">
                    @using (Html.BeginForm("KetQuaTimKiem", "TimKiem", FormMethod.Post))
                    {
                        @Html.TextBox("txtTimKiem2", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Nhập vào từ khóa cần tìm ..." })
                        <button type="submit" style="height:34px;width:40px;   padding:0 0;background-color: #24444b;">
                            <img src="~/HinhAnh/imgSearch.png" style="    width:20px;
    height:20px;" />
                        </button>
                    }

                </div>
                @*Menu trái header*@
                <ul class="navMenu" style="float:left">
                    <li>
                        <a href="@Url.Action("Index","Home")">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Giới thiệu</a>
                    <li>
                        <a href="#">Liên hệ</a>
                    </li>
                    <li>
                        <a href="#">Hướng dẫn</a>
                    </li>
                    <li>
                        <a href="#">Sách</a>
                    </li>


                </ul>
            </div>
        </section>

        <section id="divMenuSlider">
            @*Div menu bên trái *@
            <div id="divMenuLeft">
                @*Chèn vào partial view sách mới*@
                <div class="activity">
                    @Html.Action("SachMoiPartial", "Sach")

                </div>
            </div>
            @*Chèn div nivoslider*@
            <div id="slider" class="nivoSlider">
                <img src="~/HinhAnh/Anh4.jpg" />
                <img src="~/HinhAnh/Anh5.jpg" />
                <img src="~/HinhAnh/Anh6.jpg" />
            </div>
            <div style="clear:both"></div>
        </section>
        @*Div body *@
        <div id="Content">
            <div id="divChuDeVaNXB" style="float:left;width:30%">
                <section style="padding-top:0px">
                    @*Phần chủ đề*@
                    <div id="divChuDe">
                        @Html.Action("ChuDePartial", "ChuDe")

                    </div>
                    <hr />
                </section>
                <div style="clear:both"></div>
                @*Div nhà xuất bản*@
                <section class="blank items">

                    <div class="item" style="width:260px">
                        <div class="item-info" id="divNhaXuatBan">
                            @*Action partialview*@
                            @Html.Action("NhaXuatBanPartial", "NhaXuatBan")

                        </div>
                        <img src="http://lorempixel.com/400/300/" alt="Image">
                    </div>


                </section>
            </div>
            <div id="NoiDung" style="float:right;width:70%">
                @RenderBody()

            </div>

            <div>
                @RenderSection("NoiDungBenPhai", false)
            </div>
            <div style="clear:both"></div>
            <div>
                <a href="#" class="button button-buy">Copyright by MizheShop</a>
            </div>


        </div>
    </div>

    @*Script Chạy nivoslider*@
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({
                controlNav: false,               // 1,2,3... navigation
                nextText: '',
                prevText: ''
            });
        });
    </script>
</body>

</html>
